<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="socket repeater V1.0 "/>
    <add key="DebugEnable" value="0"/>
    
    
    <add key="LocalIp" value="172.26.82.236"/>
    <!--云平正式环境地址-->
    
    
    <!--<add key="LocalIp" value="192.168.1.99"/>-->
    <!--公司代理本机地址-->

    <!--<add key="LocalIp" value="192.168.100.100"/>-->
    <!--<add key="LocalIp" value="127.0.0.1"/>-->
    <!--本地调试地址-->
    
    
    <add key="LocalPortRTU" value="10002"/>
    <add key="LocalPortLan" value="10000"/>
    <add key="LocalPortAPP" value="10001"/>

    <add key="DtuSVRPWD" value="123456"/>
    <!--RTU密码-->
    
    
    <add key="bDtuSVRPWD" value="true"/>
    <!--是否开启DTU密码认证true、false-->

    <add key="bHeartBeat" value="true"/>
    <!--心跳包开关  true   false   (内网，RTU)-->
    
    
    <add key="bStartHeartBeat" value="true"/>
    <!--连接成功后是否马上开始发送心跳包  true    false   (RTU)-->
    
    
    <add key="HeartBeatTime" value="10"/>
    <!--心跳包间隔(秒)(内网，RTU)-->
    
    
    <add key="RTUReceivedTime" value="120"/>
    <!--RTU默认接收数据超时断开连接时间(分钟)(RTU)-->
    
    
    <add key="LanReceivedTime" value="120"/>
    <!--内网默认接收数据超时断开连接时间(分钟)(Lan)-->


    <add key="ImageFileTimeOut" value="100"/>
  </appSettings>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
